{% extends 'accounts/base.html' %}

{% block title %}
    <title>My Blog-Page doesn't exist</title>
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="top_banner"><h3>Sorry the page you have requested doesn't exist</h3></div>
        </section>
        <section class="form_section">
            <div class="Card Card-small color-white">
                <div class="title">
                    ERROR
                </div>
                <div class="card-content">
                    <p style="font-size: 80px">404</p>
                    <p style="text-align: center">Not Found</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}