{% extends 'accounts/base.html' %}

{% block title %}
    <title>My Blog- Update your profile {{ request.user.username }}</title>
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="top_banner"><h3>Update Your Details</h3></div>
        </section>
        <section class="form_section">
            <div class="Card Card-small color-white">
                <div class="title">
                    {{ request.user.username }}
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-success inverse" type="submit">Update</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}