{% extends 'accounts/base.html' %}

{% block title %}
    <title>My Blog-Confirm your identity</title>
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="top_banner"><h3>Enter validation code here</h3></div>
        </section>
        <section class="form_section">
            <div class="Card Card-small color-white">
                <div class="title">
                    We have sent you a mail at your email please verify.
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="code">
                    <button class="btn btn-success inverse" type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}