body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: 'Mulish';
    background-color: #cae5fa;
}
header{
    background-color: #0184d7;
    box-shadow: 1px 5px 15px rgba(0,0,0,0.5);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

nav .nav_links a{
    margin-right: 1em;
    text-decoration: none;
    color: inherit;
    padding: 1em;
    height: 100%;
}
nav .nav_links a:hover{
    color: #f6f5be;
    transition: 0.2s all ease-in-out;
}
main{
    background-color: #cae5fa;
    height: 100%
}
/*for the homepage contents*/
.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0184d7;
}

.header_text{
    margin-top: 120px;
    font-size: 50px;
    font-weight: bold;
}
.sub_text{
    margin-top: -40px;
}


/*for blog post content*/

.top_banner{
    width: 90%;
    margin: auto;
    margin-top: 3em;
    border-radius: 10px;
    background-color: #0184d7;
}
.top_banner h1{
    padding: 2em;
}
.blog_posts{
    width: 85%;
    margin: auto;
    background-color: white;
    border: 1px grey dotted;
    padding: 1em;
    color: black;
}
.Card{
    padding: 1em;
    border-bottom: 1px grey solid;
    cursor: pointer;
    margin-top: 5px;
}
.Card:hover{
    box-shadow: 1px 5px 15px rgba(0,0,0,0.5);
}
.Card .title{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px grey dotted;
    width: 50%;
    margin-bottom: 5px;
    padding: 5px;
}
.blog_posts_detail{
    margin-top: 1em;
}
.title_detail{
    margin-top: 1em;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px grey dotted;
    margin-bottom: 5px;
    padding: 5px;
}
.grey{
    font-size: 0.5em;
    color: #b3b1b1;
}
a{
    text-decoration: none;
    color: inherit;
}